@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
html,
body{
    height: 100vh;
}


.form-control{
    background: linear-gradient(to left, #8942a8, #ba382f);
    max-width: 100%;
    margin: 0 auto;
    align-self: center;

}
/* .H3 {
    max-width: 66%;
    margin: 0% auto;
    text-align: center;
} */



.page {
    background: linear-gradient(to left, #8942a8, #ba382f);
    
  
    
}


.h1{
    text-align:center;
    font-size:100px;
}

li{
    display:inline-block;
    padding: 60px;
    }
.button{
    /* background: linear-gradient(to left, #8942a8, #ba382f); */

    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 2px;
    margin: 20px;
    
    
    /* text-align: center; */

}
/* .landing-form {
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to left, #8942a8, #ba382f);
    height: 100vh;
    width: 100vw;
    z-index: 99;
} */

/* .landing-title {
    color: white;
    font-weight: 500;
    font-size: 4rem;
    display: block;
    padding-top: 15rem;
}

.landing-form p {
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

.btn-animation {
    padding: .75rem;
    border: 1px solid white;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
    color: white;
    transition: .5s ease;
}

.btn-animation:hover {
    background: linear-gradient(to left, #8942a8, #ce19df);
    color: white;
    transition: .5s ease;
}

.btn-animation a {
    text-decoration-style: none;
    color: white;
    transition: .5s ease;
}

.btn-animation a:hover {
    transition: .5s ease;
} */